#materialPreview {
    width: 150px;
    height: 150px;
    background-image: url('project://database/Assets/UI/Sprite/materialBound.png?fileID=-781595442&guid=dd63cc5f1b5468747bc8e0197b5d48fd&type=3#materialBound_0');
    -unity-slice-left: 16;
    -unity-slice-top: 16;
    -unity-slice-right: 16;
    -unity-slice-bottom: 16;
}

.information-detail {
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    color: rgba(255, 255, 255, 255);
}
